<% include partials/header %>

<div class=" padding bg">
<h1>This is a NodeJs demo using Express</h1>

<form action="/friends">
	<input class="button" type="submit" value="Continue">
</form>

</div>

<% include partials/footer %>
